Checks: 'clang-diagnostic-*, clang-analyzer-*, performance-*, cppcoreguidelines-*, google-*, -google-readability-casting, -cppcoreguidelines-pro-type-cstyle-cast, -cppcoreguidelines-pro-bounds-pointer-arithmetic, -cppcoreguidelines-avoid-magic-numbers, -cppcoreguidelines-non-private-member-variables-in-classes, -google-build-using-namespace, -google-global-names-in-headers'
WarningsAsErrors: ''
HeaderFilterRegex: 'test/include/.*hpp.*|include/impalib/.*hpp.*'