**/__pycache__/
build/
_skbuild
*.egg-info/
.idea/
data/gcn
src/tspML/
src/impa/generate_outputs.sh
src/impa/generate_statistics.sh
logs/
data/inputs_ksat_biased_500
data/inputs_ksat_unbiased_500
data/inputs_ksat_unbiased_2000
data/inputs_ksat_unbiased_var_1_samples_500
data/inputs_ksat_unbiased_var_5_samples_500
data/inputs_ksat_unbiased_var_10_samples_500
data/inputs_ksat_biased_var_1_samples_500
data/inputs_ksat_biased_var_5_samples_500
data/inputs_ksat_biased_var_10_samples_500
src/impa/img
data/inputs_ksat_zeromean_var_1_samples_500
data/inputs_ksat_zeromean_var_5_samples_500
data/inputs_ksat_zeromean_var_10_samples_500_full_data
src/impa/results_analysis.py
src/impa/main_ksat_investigation.py
data/inputs_unbiased_var1_uf50.218.1000
data/inputs_unbiased_var5_uf50.218.1000
data/inputs_unbiased_var10_uf50.218.1000
data/inputs_zeromean_var1_uf50.218.1000
data/inputs_zeromean_var5_uf50.218.1000
data/inputs_zeromean_var10_uf50.218.1000
data/inputs_zeromean_var10_uf125.538.100
data/inputs_unbiased_var10_aim
test/python_ksat/src/process_inputs.py
data/outputs_unbiased_var10_aim_PPElements2_alpha0.5_pp
minisat/
outputs_zeromean_*
outputs_ksat_*
outputs_*
data/complexityAnalysis
test/python_ksat/src/compare_impa_minisat.py
test/python_ksat/src/generate_inputs_complexity.py
.ruff_cache