**/__pycache__/
build/
_skbuild
*.egg-info/
.idea/
data/gcn
src/tspML/
src/impa/generate_outputs.sh
logs/
data/inputs_ksat_biased_500
data/inputs_ksat_unbiased_500
data/inputs_ksat_unbiased_2000
data/outputs_ksat_biased_500_alpha0.5
data/outputs_ksat_unbiased_500_alpha0.5
data/outputs_ksat_unbiased_2000_alpha0.5
data/inputs_ksat_unbiased_var_1_samples_500
data/inputs_ksat_unbiased_var_5_samples_500
data/inputs_ksat_unbiased_var_10_samples_500
data/inputs_ksat_biased_var_1_samples_500
data/outputs_ksat_unbiased_var_1_samples_500
data/outputs_ksat_unbiased_var_5_samples_500
data/outputs_ksat_unbiased_var_10_samples_500
data/outputs_ksat_biased_var_1_samples_500
data/outputs_ksat_biased_var_1_samples_500_alpha0.5
data/outputs_ksat_unbiased_var_1_samples_500_alpha0.5
data/outputs_ksat_unbiased_var_5_samples_500_alpha0.5
data/outputs_ksat_unbiased_var_10_samples_500_alpha0.5
data/inputs_ksat_biased_var_5_samples_500
data/inputs_ksat_biased_var_10_samples_500
data/outputs_ksat_biased_var_5_samples_500_alpha0.5
data/outputs_ksat_biased_var_10_samples_500_alpha0.5
src/impa/img
data/inputs_ksat_zeromean_var_1_samples_500
data/inputs_ksat_zeromean_var_5_samples_500
data/inputs_ksat_zeromean_var_10_samples_500
data/outputs_ksat_zeromean_var_1_samples_500_alpha0.5
data/outputs_ksat_zeromean_var_5_samples_500_alpha0.5
data/outputs_ksat_zeromean_var_10_samples_500_alpha0.5
src/impa/results_analysis.py
src/impa/main_ksat_investigation.py