**/__pycache__/
*.egg-info/
.ruff_cache
_skbuild
build/
.idea/
logs/
minisat/
src/tspML/
src/impa/img
src/data/gcn
src/data/inputs_*
src/data/outputs_*
src/data/complexityAnalysis
src/impa/results_analysis.py
src/impa/generate_outputs.sh
src/impa/generate_statistics.sh
src/impa/main_ksat_investigation.py
test/python_ksat/src/process_inputs.py
test/python_ksat/src/compare_impa_minisat.py
test/python_ksat/src/generate_inputs_complexity.py